---
import BaseLayout from '@/layouts/Base.astro';
import { getCollection } from 'astro:content';

const works = await getCollection("posts");
---

<BaseLayout>
    {works.map(p => (
        <div class=" underline text-xl hover:text-gray-500">
            <a href={`/posts/${p.slug}`}>{p.data.title}</a>
        </div>
    ))}
</BaseLayout>
