---
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import blushImage from "@/assets/blush.png";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Hi, I don't like to post things online.</p>
		<p>This is just a place to put my projects.</p>
		<div class="min-w-full">
			<div class="mx-auto max-w-80 pt-16">
				<Image class="mx-auto" src={blushImage} alt="A picture of me blushing." />
			</div>
		</div>
	</div>
</PageLayout>
