---
import Layout from '../layouts/Layout.astro';
const allNotes = await Astro.glob('./notes/*.md');
---

<Layout title="Notes | :^)">
	<main>
		<h1 class="mb-8">Notes</h1>
		<ul class="grid grid-cols-1 gap-5">
			{allNotes.map((note) => <li><a href={note.url}>{note.frontmatter.title}</a></li>)}
		</ul>
	</main>
</Layout>

